body {
  overflow-x: hidden;
  margin: 0;
  background-color: #f8f4ff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

a, a:hover, a:focus {
  color:#D4005C;
  text-decoration: none;
  border-bottom: 1px dotted;
  font-weight: bold;
}

h1 {
  font-weight: 700;
  font-size: 3.5em;
  color:#190D30;
  text-shadow: 1px 1px 1px #FF006F;
}

h2 {
  font-size: 2.2em;
  font-weight: 700;
  color:#190D30;
  text-shadow: 1px 1px 0.5px #FF006F;
}

h3 {
  font-size: 1.5em;
  color:#190D30;
  text-shadow: 0.5px 0.5px 0.5px #FF006F;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: -0.5em;
}

section {
  margin-bottom: 3em;
}

ul li {
  line-height: 1.5em;
  margin: 0.6em 0;
}

.experience {
  margin: 1em 0;
}

.year {
  font-weight: 300;
  font-size: 1.5em;
}

.company {
  font-weight: 300;
  font-size: 1.2em;
  margin-top: -0.5em;
}

.volunteering{
  font-weight: 300;
}

.convention{
  font-weight: 300;
}

.footer{
  font-size: 0.8em;
  font-weight: 300;
}